// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container {
    display: grid;
    font-size: 16px;
    
    > * {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
    }
    
    .label {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #5CBF60;
        color: white;
        text-align: center;
    }
}

.transaction-grid {
    grid-template-columns: repeat(7, 1fr);
    margin-top: 40px;
    
    input {
        width: 100%;
    }
    
    @for $i from 15 to 22 {
        & > *:nth-child(14n+#{$i}) {
            background-color: LightGray;
        }
    }
    
    .grid-edit-button:hover {
        background-color: Gray;
    }
}

.total-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.row-button {
    grid-column: 1 / span 7;
    background-color: #6CCF70 !important;
    color: white !important;
    
    &:hover {
        background-color: #3C9F40 !important;
    }
}

.hidden-item {
    display: none;
}

#check_month {
    display: none;
}

#select_range {
    display: none;
}