// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    > * {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
    }
    
    .label {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
}

.item-table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 40px;
    
    tr, td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
    
    th {

    }
}


