// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$mainGreen: #5CBF60;
$lightGreen: #6CCF70;
$darkGreen: #3C9F40;

.grid-container {
    display: grid;
    font-size: 16px;
    
    > * {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
    }
    
    .label {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $mainGreen;
        color: white;
        text-align: center;
    }
}

.search-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

#search-bar {
    z-index: 1;
    width: 95%;
    max-width: 800px;
    margin: auto;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    transform: translateY(-8em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
}

.search-bar-active {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 1 !important;
    transform: translateY(0%) !important;
    transition-delay: 0s, 0s, 0.3s !important;
}

.transaction-grid {
    grid-template-columns: repeat(7, 1fr);
    margin-top: 40px;
    
    input {
        width: 100%;
    }
    
    @for $i from 15 to 22 {
        & > *:nth-child(14n+#{$i}) {
            background-color: LightGray;
        }
    }
    
    .grid-edit-button:hover {
        background-color: Gray;
        color: white;
    }
    
    a:visited {
        color: #333;
    }
}

.total-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.row {
    grid-column: 1 / -1;
}

.row-button {
    grid-column: 1 / -1;
    background-color: $lightGreen !important;
    color: white !important;
    width: 100%;
    
    &:hover {
        background-color: $darkGreen !important;
    }
}

.button {
    background-color: $lightGreen !important;
    color: white !important;
    width: 100%;
    
    &:hover {
        background-color: $darkGreen !important;
    }
}

.hidden-item {
    display: none;
}

#check_month {
    display: none;
}

.select_range {
    display: none;
    background-color: white;
    width: 100%;
}

form input {
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.navbar {
    background-color: $mainGreen;
    margin: auto;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#logo {
    color: white;
    margin: 20px;
    font-size: 30px;
    float: left;
    
    &:hover {
        background: $mainGreen;
    }
}

.material-icons {
    color: white;
    margin: 20px;
    background: $mainGreen;
    border: none;
    cursor: pointer;
    
    &:hover {
        background: $mainGreen;
    }    
}

.right {
    float: right;
}

.sticky {
    position: sticky;
}

.sidebar {
    position: fixed;
    top: 20%;
    right: 0;
    background-color: $lightGreen !important;
    color: white !important;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 30px;
    
    &:hover {
        background-color: $darkGreen !important;
    }
}